
@font-face {
    font-family: font1;
    src: url(../font/light.ttf);
}
@font-face {
    font-family: font2;
    src: url(../font/medium.ttf);
}
@font-face {
    font-family: font3;
    src: url(../font/Bold.woff2);
}
@font-face {
    font-family: font4;
    src: url(../font/italic.ttf);
}
@font-face {
    font-family: font5;
    src: url(../font/Eliss.otf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: font2;
    color: #f9dcc5;
}

html,body{
    width: 100%;
    height: 100%;
   ;
}
#main{
    overflow: hidden;
    position: relative;
    background-color: #F7F7EE;
}
.page_1{
    width: 100vw;
    height: 100vh;
 position: relative;
  background-image: url(../image/hero.jpg);
  background-size: cover;
background-position: center;
mix-blend-mode: hard-light;

}
.page_1::before{
content: "";
position:absolute;
top:0;
left: 0;
width: 100%;
height: 100%;
background-color: #000; 

/* #b05d70 */
z-index: -1;
opacity:0.7;
}
.hidden{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #501e1e;
}
.page_1::after{
    content: "";
    z-index: -1;
    width: 100%;
    height: 120%;
    mix-blend-mode: color-burn;
    background-image: url(../image/texturerepeat.jpg);
    background-position: 50%;
    background-repeat: repeat;
    background-size: 166px 111px;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    }
/* nav */
.nav{
    width: 100%;
   padding: 0 12px;
 height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top:0;
    left:0;
    text-transform: uppercase;
    color: #f9dcc5;

}
.menu{
    display: flex;
    gap:20px;
    cursor: pointer;
    color: #f9dcc5;

}
.menu span{
    transition: 0.8s;
}
.menu:hover span{
    filter:blur(3px);
  }
  .menu span:hover{
    filter:blur(0px);
  }
.logo{
    display: flex;
  
    align-items: center;
    width: 200px;
    height: 100%;
   
   
    left:50%;
   
    
}
.logo img{
   width: 100%;
}
.sidebtn{
    display: flex;
    gap:20px;
    cursor: pointer;
    color: #f9dcc5;

}
.sidebtn span{
    transition: 0.8s;
}
.sidebtn:hover span{
    filter:blur(3px);
  }
  .sidebtn span:hover{
    filter:blur(0px);
  }
/*  */

/*  */
.hero{
    width: 100%;
    height: calc(100% - 55px);

 position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-top:5%;
    padding-left:12px;
    padding-right: 12px;
}
.hero .elm1 p{
    font-size: 1.6vw;
} 
.hero .elm2{
    position: relative;
    overflow: hidden;
}
.overflow{
    overflow: hidden;
    width: auto;
    height: auto;
}
.hero .elm2 h1{
    font-family: font3;
    letter-spacing: 1px;
    font-size: 16vw;
    line-height: 180px;
    position: relative;
}
/* .hero h1::before{
    content: "";
    position:absolute;
    top:0;
    left: 0;
    background-image: url(../image/start.svg);
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
   left: 34.5%;
   transform: translateY(-50%);
   top:52%;
    z-index: -1;

} */
#italic{
    font-family: font4 !important;
    font-weight: 200 !important;
    position: absolute;
    right: 22vw;
    top: 8vh;
    font-size: 5vw;
}
/*  */
.page_2{
    width: 100vw;
    height: 200vh;
 position: relative;
 scale:0.9;
}
.page_2 .container{
    width: 100%;
    height: 100%;
    background-color: #F9DCC5;
    border-radius: 5px;
    padding:50px 5px;
}
._elm1{
    display: flex;
    justify-content: center;
    align-items: center;
}
._elm2{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-top:2rem;
}
._h1 h1{
    font-size: 3vw;
    color: #ff2f2f;
}
._elm3{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top:1rem;
}
._p{
    text-align: center;
    display: flex;
    width: 100%;
    justify-content: center;
}
._p p{
    font-size: 18px;
    color: #ff2f2f;
    width: 50%;
}
._elm4{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top:2rem; 
}
._elm5{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top:2rem; 
}
._elm5 h4{
    font-size: 2.2vw;
    color: #ff2f2f;
    width: 50%;
    font-family: font3;
}
._elm5 h4 span{
    font-family: font4;
    color: #ff2f2f;
}
.sign{
    font-family: font5 !important;
    font-size: 3.2vw;
}

.myimage{
    
    height: 450px;
}
.myimage img{
    width: 100%;
    height: 100%;
}
.line{
width: 1px;
margin-top:1rem;
height: 100px;
position: relative;
background:#e77f7f;
}
.line:before{
    content: "";
position: absolute;
width: 100%;
height: 100%;
background: #ff2f2f;

}










/*  */
.page_3{
    width: 100vw;
    height: 175vh;
 position: relative;
z-index: 1;
overflow: hidden;
}
.imgdiv{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: brightness(0.88);
 background-image: url(../image/sec3.jpg);
 background-position: center;
 background-size: cover;
}
.overlay{
    content: "";
    z-index: -1;
    width: 100%;
    height: 120%;
    mix-blend-mode: color-burn;
    background-image: url(../image/texturerepeat.jpg);
    background-position: 50%;
    background-repeat: repeat;
    background-size: 166px 111px;
    position: absolute;
    top: 0%;
    bottom: 0%;
    backdrop-filter: blur(20px);
    left: 0%;
    right: 0%;
}
.__container{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    padding:50px 5px;
}
.line2{
    width: 1px;
    height: 100px;
    background-color: #e1a39e;
    position: relative;
}
.line2:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #f9dcc5;
}
.__elm2{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top:2rem; 
}
.__p{
    text-align: center;
    display: flex;
    width: 100%;
    justify-content: center;
}
.__p p{
    font-size: 18px;
    color: #f9dcc5;
    width: 50%;
}
.__elm3{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin:2rem 0; 
}
.__h1{
    text-align: center;
    display: flex;
    width: 100%;
    justify-content: center;
    overflow: hidden;
}
.__h1 h1{
    font-size: 16vw;
    font-family: font3;
   text-wrap: nowrap;
    color: #f9dcc5;
    
}
.__elm4{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  
}
.__h4{
    text-align: center;
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;

}
.__h4 h4{
    font-size: 1.5vw;
    font-weight: 200;
   text-wrap: nowrap;
    color: #f9dcc5;
    
}
.__h4 p{
    width: 60%;
    margin-top: 5px;
    font-weight: 200;
    color:#f9dcc5;
}
.__h4 h5{
    font-size: 5.5vw;
    font-family: font5;
    margin-top: 5px;
   
    color:#f9dcc5;
}
.__h2{
    text-align: center;
    display: flex;
    width: 100%;
    justify-content: center;
overflow: hidden;
height: auto;
}
.__h2 h2{
    font-size: 16vw;
    font-family: font3;
   text-wrap: nowrap;
    color: #f9dcc5;
    margin-top: -2.5rem;
}

/*  */
.page_4{
    width: 100vw;
    height: 175vh;
 position: relative;
z-index: 1;
overflow: hidden;
color: #401714;
background-color: #EE8782;
}
.pin{
    display: flex;
    justify-content: space-between;
}
.line3{
    width: 1px;
    height: 100px;
   position: relative;
    position: relative;
    background: #c26b66  !important;
    overflow: hidden;
    transition: 0.3s;
}
.line3:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top:-100%;
    background: #401714;
    transition: 0.3s;
}

._pg4elm5 h4{
    color: #401714;
}
._pg4elm5 h4 span{
    color: #401714;
}
.star-divider{
    text-align: center;
    display: flex;
    width: 100%;
    margin-top: 2.5rem;
    gap:20px;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    position: relative;
}
.star-div-line{
    width:calc(50% - 80px);
    height: 1px;
    background: #401714;
}
.w50{
    width: 50%;
    padding:0 2rem;
    margin-top: 2rem;
}
.w50_1 h1{
    font-size: 7vw;
    font-family: font3;
    color: #401714;
}
.w50_1 h1 span{
    font-size: 5vw;
    font-family: font4;
    color: #401714;
}
.w50_1 h6{
    font-size: 1.5vw;
    color: #401714;
    
}
.w50_1 p{
    margin-top: 1rem;
    font-family: font1;
    font-weight: 300;
    font-size: 1.4vw;
    color: #401714;
    
}
.w50_2{
    display: flex;
    width: 50%;
    padding-top: 8.5rem;
   overflow: hidden;
   flex-direction: column;
   align-items: center;
    justify-content: space-around;
    position: relative;
}
.w50_2 .wrap{
border-bottom: 1px solid #401714;
margin-bottom: 2rem;
}
.w50_2 .wrap h6{
    font-size: 1.5vw;
    color: #401714;
}
.w50_2 .wrap p{
    margin-top: 1rem;
    font-family: font1;
    font-weight: 300;
    font-size: 1.4vw;
    color: #401714;
    margin-bottom: 5rem;
}
.withoutwrap{
    position: absolute;
    top: 50%;
    width: 90%;
}
.withoutwrap h3{
    font-size: 3vw;
    font-family: font3;
    font-weight: 300;
   
    color: #401714;
}
.withoutwrap h3 span{
    font-size: 3vw;
    font-family: font4;
    color: #401714;
}
/*  */
.page_5{
    width: 100vw;
    height: 120vh;
 position: relative;


}
.imgdiv2{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
   
 background-image: url(../image/sec5.jpg);
 background-position: center;
 background-size: cover;  
}
.overlay2{
    content: "";
    z-index: -1;
    width: 100%;
    height: 120%;
    mix-blend-mode: color-burn;
    background-image: url(../image/texturerepeat.jpg);
    background-position: 50%;
    background-repeat: repeat;
    background-size: 166px 111px;
    position: absolute;
    top: 0%;
    bottom: 0%;
  backdrop-filter: blur(1px);
    left: 0%;
    right: 0%;
}
.center{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#C4B84E;
}
.centertext {
text-align: center;
overflow: hidden;
}
.centertext h1{
    font-size: 18vw;
    font-family: font3;
    text-wrap: nowrap;
    color: #f9dcc5;
    letter-spacing: 18px;
}
.center .centertext h1{
    color:#C4B84E;
}
.center .centertext h5{
    font-size: 2.6vw;
    font-family: font3;
   
    color:#C4B84E;
}
.center .centertext h5 span{
    font-family: font4;
    color:#C4B84E;
}

/*  */
.page_6{
    width: 100vw;
    height: 100vh;
 position: relative;
 background-color: #2D3517;
}
.centertext2{
    display: flex;
    text-align: center;
    width: 100%;
    justify-content: center;
}
.centertext h4{
    font-size: 6vw;
    font-family: font3;
    line-height: 5.5vw;
   width: 80%;
    color:#C4B84E;
   
}
.page7{
    width: 100vw;
    height: 170vh;
 position: relative;
 background-color: #F9DCC5;
}
.overflow7{
    width: 70%;
    overflow: hidden;
}
.overflow7 h1{
    color:#FF2F2F;
    font-size: 16vw;
    font-family: font3;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0px 20px;
}
.overflow7 h1 span{
    font-family: font4;
    font-size: 6vw;
    font-weight: 400;
    color:#FF2F2F;
}
.overflow7 p{
    font-family: font1;
    font-size: 1.2vw;
    font-weight: 600;
    width: 80%;
    margin-left: 20px;
    color:#FF2F2F;
}
.overflow8 h1{
    color:#FF2F2F;
    font-size: 16vw;
    font-family: font3;
    line-height: 10vw;
}
.flex2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0px 20px;
    height: 60%;
}
.newletter{
    text-align: center;
}
.newletter p{
    font-family: font4;
    font-size: 2vw;
    font-weight: 500;
  line-height: 1.2vw;
    margin-left: 20px;
    color:#FF2F2F;
}
.newletter h4{
    color:#FF2F2F;
    font-size: 5.5vw;
    font-family: font3;
    margin-bottom: 20px;
}
.newletter input{
    background-color: transparent;
    color: #FF2F2F;
    width: 100%;
    outline: none;
    border:1px solid #FF2F2F;
    height: 60px;
    font-size: 1.2vw;
    padding:10px;
    position: relative;
}
.newletter input::placeholder{
    color:#FF2F2F;
    opacity: 0.7;
}
.input{
    display: inline-block;
    position: relative;
    width: 100%;
}
.input span{
   cursor: pointer;
    font-size: 1.2vw;
    position: absolute;
    padding: 2px 10px;
    right: 2%;
    top: 50%;
   transform: translate(0,-50%);
    color:#FF2F2F;
}